.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #71D9B6, #18C27B);
}

.linear-grad-Dashboard
{
    -fx-background-color: linear-gradient(to bottom , #3454F5, #0082F4);
}

.text-field{
    -fx-prompt-text-fill:c5c5c5;
    -fx-font-size: 14px;

}

.text-field:focus{
    -fx-prompt-text-size: 14px;
}

.jfx-snackbar-content{
    -fx-background-color: #ff1c03;
}

.jfx-snackbar-toast{
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
}

.Top-Pane
{
    -fx-background-color: linear-gradient(Gray, Black);
}